<!DOCTYPE html>
<html>
    <head>
        <title>Książki o Pythonie</title>
    </head>
    <body>
        <h1>Lista książek do poduszki</h1>
        <p>Oto lista książek, która może cię zaciekawić.
           Kliknij na tytuł, żeby dowiedzieć się więcej na temat danej książki.</p>
        {% for entry in entries %}
        <li>
            <a href="{{ url_for('book', book_id=entry.id)}}" >{{ entry.title }}</a>
        </li>
        {% else %}
        <li><em>Jak dotąd brak wpisów</em></li>
        {% endfor %}
    </body>
</html>