<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <p>Title: {{entries.title}}</p>
        <p>Isbn: {{entries.isbn}}</p>
        <p>Publisher: {{entries.publisher}}</p>
        <p>Author: {{entries.author}}</p>
    </body>
</html>